 .cardContainer{
    display: flex;
    flex-direction: column;
    padding: 32px 15px;
    width: 33.3%;
    height: 300px;
    gap: 10px;
    .imgContainer{
        display: flex;
        justify-content: start;
        height: 48px;
        img{
            width: 15%;
            height: 100%;
        }
    }
    .title{
        font-weight: 500;
        font-size: 24px;
        width: 83%;
    }
    .description{
        font-weight: 400;
        font-size: 16px;
        color: #5c7189;
    }
 }